---
import DemoLayout from '../../../layouts/DemoLayout.astro';
import Info from "../../../components/showcase/timetable/info.md";
---

<DemoLayout name="timetable" title="Time table">
  <div class="p-6">
    <Info/>
  </div>
</DemoLayout>