---
import '../../styles/ge-table.css';

const id = Math.random().toString(36).slice(2, 11);
---

<div
    style="height: calc(100vh - 64px)"
    class={id}></div>


<script is:inline define:vars={{id}} type="module">

  import * as GE from '/scripts/index.js'
  // import * as GE from 'https://cdn.jsdelivr.net/npm/@guiexpert/table@1.0.13/+esm'

  const headerData = [ ["Column 1", "Column 2", "Column 3"] ];
  const bodyData = [];
  for (let i=0; i<100; i++) {
    bodyData.push(["This is a very", "simple", "demo."]);
  }
  const tableModel = GE.TableFactory.createTableModel({
    headerData,
    bodyData,
    overridingColumnWidth: 110
  });
  const simpleDomService = new GE.SimpleDomService();
  const tableOptions = new GE.TableOptions();
  const eventAdapter = new GE.EventAdapter();

  new GE.TableScope(document.querySelector('.'+id), tableModel, simpleDomService, tableOptions, eventAdapter).firstInit();
</script>

