---
import DemoLayout from '../../../layouts/DemoLayout.astro';
import Info from "../../../components/showcase/fps/info.md";
---

<DemoLayout name="fps" title="Render speed">
  <div class="p-6">
    <Info/>
  </div>
</DemoLayout>