---
import DemoLayout from '../../../layouts/DemoLayout.astro';
import Info from "../../../components/showcase/large/info.md";
---

<DemoLayout name="large" title="Large dataset">
  <div class="p-6">
    <Info/>
  </div>
</DemoLayout>