---


const id = 'div'+Math.random().toString(36).slice(2, 11);
---

<div
    style="height: calc(100vh - 128px)"
    class={id}></div>


<script is:inline define:vars={{id}} type="module">

  import {TableFactory, TableScope, EventAdapter, TableOptions, SimpleDomService} from '/scripts/table/index.js'
  // import {TableFactory, TableScope, EventAdapter, TableOptions, SimpleDomService} from 'https://cdn.jsdelivr.net/npm/@guiexpert/table@1.0.13/+esm'

  const headerData = [ ["Column 1", "Column 2", "Column 3", "Column 4", "Column 5", "Column 6", "Column 7"] ];
  const bodyData = [];
  for (let i=0; i<100; i++) {
    bodyData.push(["This is a very", "A", "very,", "very", "simple", "easy", "demo."]);
  }
  const tableModel = TableFactory.createTableModel({
    headerData,
    bodyData,
    overridingColumnWidth: 110
  });
  const simpleDomService = new SimpleDomService();
  const tableOptions = new TableOptions();
  const eventAdapter = new EventAdapter();

  new TableScope(document.querySelector('.'+id), tableModel, simpleDomService, tableOptions, eventAdapter).firstInit();
</script>

<style>
  div {
    font-size:14px;
  }
</style>