

.ge-table { background-color: var(--ge-table-bg); }

.ge-table-header-west { background-color: var(--ge-table-header-west-bg); }
.ge-table-header-center { background-color: var(--ge-table-header-center-bg); }
.ge-table-header-east { background-color: var(--ge-table-header-east-bg); }
.ge-table-header-west { color: var(--ge-table-header-west-text); }
.ge-table-header-center { color: var(--ge-table-header-center-text); }
.ge-table-header-east { color: var(--ge-table-header-east-text); }

.ge-table-header-west-horizontal-border { background-color: var(--ge-table-header-west-horizontal-border); }
.ge-table-header-west-vertical-border { background-color: var(--ge-table-header-west-vertical-border); }
.ge-table-header-center-horizontal-border { background-color: var(--ge-table-header-center-horizontal-border); }
.ge-table-header-center-vertical-border { background-color: var(--ge-table-header-center-vertical-border); }
.ge-table-header-east-horizontal-border { background-color: var(--ge-table-header-east-horizontal-border); }
.ge-table-header-east-vertical-border { background-color: var(--ge-table-header-east-vertical-border); }


.ge-table-body-west { background-color: var(--ge-table-body-west-bg); }
.ge-table-body-center { background-color: var(--ge-table-body-center-bg); }
.ge-table-body-east { background-color: var(--ge-table-body-east-bg); }
.ge-table-body-west { color: var(--ge-table-body-west-text); }
.ge-table-body-center { color: var(--ge-table-body-center-text); }
.ge-table-body-east { color: var(--ge-table-body-east-text); }

.ge-table-body-west-horizontal-border { background-color: var(--ge-table-body-west-horizontal-border); }
.ge-table-body-west-vertical-border { background-color: var(--ge-table-body-west-vertical-border); }
.ge-table-body-center-horizontal-border { background-color: var(--ge-table-body-center-horizontal-border); }
.ge-table-body-center-vertical-border { background-color: var(--ge-table-body-center-vertical-border); }
.ge-table-body-east-horizontal-border { background-color: var(--ge-table-body-east-horizontal-border); }
.ge-table-body-east-vertical-border { background-color: var(--ge-table-body-east-vertical-border); }

.ge-table-body-west-selected-range { background-color: var(--ge-table-body-west-selected-range-bg); }
.ge-table-body-center-selected-range { background-color: var(--ge-table-body-center-selected-range-bg); }
.ge-table-body-east-selected-range { background-color: var(--ge-table-body-east-selected-range-bg); }
.ge-table-body-west-selected-range { color: var(--ge-table-body-west-selected-range-text); }
.ge-table-body-center-selected-range { color: var(--ge-table-body-center-selected-range-text); }
.ge-table-body-east-selected-range { color: var(--ge-table-body-east-selected-range-text); }






.ge-table-footer-west { background-color: var(--ge-table-footer-west-bg); }
.ge-table-footer-center { background-color: var(--ge-table-footer-center-bg); }
.ge-table-footer-east { background-color: var(--ge-table-footer-east-bg); }

.ge-table-footer-west { color: var(--ge-table-footer-west-text); }
.ge-table-footer-center { color: var(--ge-table-footer-center-text); }
.ge-table-footer-east { color: var(--ge-table-footer-east-text); }

.ge-table-footer-west-horizontal-border { background-color: var(--ge-table-footer-west-horizontal-border); }
.ge-table-footer-west-vertical-border { background-color: var(--ge-table-footer-west-vertical-border); }
.ge-table-footer-center-horizontal-border { background-color: var(--ge-table-footer-center-horizontal-border); }
.ge-table-footer-center-vertical-border { background-color: var(--ge-table-footer-center-vertical-border); }
.ge-table-footer-east-horizontal-border { background-color: var(--ge-table-footer-east-horizontal-border); }
.ge-table-footer-east-vertical-border { background-color: var(--ge-table-footer-east-vertical-border); }




.ge-table-border { background-color: var(--ge-table-border); }
.ge-table-row-odd {background-color: var(--ge-table-row-odd-bg); }
.ge-table-row-even {background-color: var(--ge-table-row-even-bg); }
.ge-table-column-odd {background-color: var(--ge-table-column-odd-bg); }
.ge-table-column-even {background-color: var(--ge-table-column-even-bg); }

.ge-table-hover-column { background-color: var(--ge-table-hover-column-bg); }
.ge-table-hover-row { background-color: var(--ge-table-hover-row-bg); }

.ge-table-focus-border { background-color: var(--ge-table-focus-border); }
.ge-table-color-col-resize-handle-hover { background-color: var(--ge-table-color-col-resize-handle-hover-bg); }
.ge-table-color-dragged-col-div { background-color: var(--ge-table-color-dragged-col-div-bg); }
.ge-table-color-drop-zone { background-color: var(--ge-table-color-drop-zone-bg); }
.ge-table-color-drop-zone { background-color: var(--ge-table-color-drop-zone); }
.ge-table-color-tree-arrow-collapsed-color { background-color: var(--ge-table-color-tree-arrow-collapsed-color); }
.ge-table-color-error { color: var(--ge-table-color-error-text); }
.ge-table-tree-arrow-collapsed { color: var(--ge-table-tree-arrow-collapsed-color);}
.ge-table-column-resize-handle:hover { background-color: var(--ge-table-column-resize-handle-border) }

.ge-table-drop-zone { background-color: var(--ge-table-drop-zone-bg); }
.ge-table-dragged-col-div { background-color: var(--ge-table-dragged-col-div-bg); }

 /*TODO geht das überhaupt?*/
.ge-table-cell-editor-input,
.ge-table-cell-editor-input:focus-within {
  border: none;
}
