---
import DemoLayout from '../../../layouts/DemoLayout.astro';
import Info from "../../../components/showcase/treetablecheckbox/info.md";
---

<DemoLayout name="treetablecheckbox" title="Tree table with row checkbox">
  <div class="p-6">
    <Info/>
  </div>
</DemoLayout>