/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */
code[class*=language-],
pre[class*=language-] {
    color: #444;
    background: #f1f1f133;
    text-shadow: 0 1px white;
    font-family: Roboto Mono, monospace;
    font-size: 1em;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}

pre[class*=language-]::-moz-selection, pre[class*=language-] ::-moz-selection,
code[class*=language-]::-moz-selection, code[class*=language-] ::-moz-selection {
    text-shadow: none;
    background: #b3d4fc;
}

pre[class*=language-]::selection, pre[class*=language-] ::selection,
code[class*=language-]::selection, code[class*=language-] ::selection {
    text-shadow: none;
    background: #b3d4fc;
}

@media print {
    code[class*=language-],
    pre[class*=language-] {
        text-shadow: none;
    }
}
/* Code blocks */
pre[class*=language-] {
    padding: 1em;
    margin: 0.5em 0;
    overflow: auto;
}

:not(pre) > code[class*=language-],
pre[class*=language-] {
    background: #FCFCFC;
}

/* Inline code */
:not(pre) > code[class*=language-] {
    padding: 0.1em;
    border-radius: 0.3em;
    white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
    color: slategray;
}

.token.punctuation {
    color: #999;
}

.token.namespace {
    opacity: 0.7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
    color: #008;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
    color: #606;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
    color: #9a6e3a;
    /* This background color was intended by the author of this theme. */
    background: rgba(255, 255, 255, 0.5);
}

.token.atrule,
.token.attr-value,
.token.keyword {
    color: #800;
}

.token.function,
.token.class-name {
    color: #606;
}

.token.regex,
.token.important,
.token.variable {
    color: #e90;
}

.token.important,
.token.bold {
    font-weight: bold;
}

.token.italic {
    font-style: italic;
}

.token.entity {
    cursor: help;
}

code[class=language-scss],
pre[class=language-scss] {
    color: #606;
}
code[class=language-scss] .token.selector, code[class=language-scss] .token.attr-name, code[class=language-scss] .token.string, code[class=language-scss] .token.char, code[class=language-scss] .token.builtin, code[class=language-scss] .token.inserted,
pre[class=language-scss] .token.selector,
pre[class=language-scss] .token.attr-name,
pre[class=language-scss] .token.string,
pre[class=language-scss] .token.char,
pre[class=language-scss] .token.builtin,
pre[class=language-scss] .token.inserted {
    color: #3f7900;
}
code[class=language-scss] .token.property, code[class=language-scss] .token.tag, code[class=language-scss] .token.boolean, code[class=language-scss] .token.number, code[class=language-scss] .token.constant, code[class=language-scss] .token.symbol, code[class=language-scss] .token.deleted,
pre[class=language-scss] .token.property,
pre[class=language-scss] .token.tag,
pre[class=language-scss] .token.boolean,
pre[class=language-scss] .token.number,
pre[class=language-scss] .token.constant,
pre[class=language-scss] .token.symbol,
pre[class=language-scss] .token.deleted {
    color: darkblue;
}
code[class=language-scss] .token.punctuation,
pre[class=language-scss] .token.punctuation {
    color: #008;
}