---
import DemoLayout from '../../../layouts/DemoLayout.astro';
import Info from "../../../components/showcase/laf/info.md";
---

<DemoLayout name="laf" title="Look and Feel">
  <div class="p-6">
    <Info/>
  </div>
</DemoLayout>