---
import IndexLayout from '../layouts/IndexLayout.astro';
import Features from "~/components/features.astro";
import Compatibility from "../components/getstarted.astro";
import Footer from "~/components/footer.astro";
import Intro from "~/components/intro.astro";
import Showcase from "~/components/showcase.astro";
import Splash from "~/components/splash.astro";
import Header from "../components/header.astro";
import Imprint from "../components/imprint.astro";
import Cube from "../components/cube.astro";
---
<IndexLayout title="GUI Expert Welcome" >

  <Header splashMode={true} />
  <Splash />

  <div class="space-y-24 px-8 py-32" id="container">
    <Cube />
    <Intro />
    <Features />
    <Compatibility />
    <Showcase />
    <Imprint />
  </div>

  <Footer />

</IndexLayout>

<!--div class="hero-scroll-down fix">
  <mat-icon
      class="display shake-vertical"
      (click)="scrollDown()"
      (dblclick)="scroll2Bottom()">expand_more</mat-icon>
  <mat-icon
      class="display-else"
      (click)="scroll2Top()">expand_less</mat-icon>
</div-->

<div class="hero-text ge-display-none-lt-sm">
  <div class="headline-hero-super gradient-text text-center font-extrabold tracking-tight text-6xl"></div>
</div>

<div class="hero-action ge-display-none-lt-sm">
  <button
      class="getstarted-button"
      (click)="scrollTo('#getstarted')">Get Started</button>
</div>

<div class="progress-circle-container ge-display-none-lt-sm">
  <svg class="progress-circle" viewBox="0 0 100 100">
    <circle class="progress-background" cx="50" cy="50" r="45"></circle>
    <circle class="progress-circle-bar" cx="50" cy="50" r="45"></circle>
  </svg>
</div>


<style>
    .hero-text {
        position: fixed;
        top: max(80px, calc(50vh - var(--ge-welcome-img-height)/2 - 220px));
        left: calc(50vw - 400px);
        transition: all 0.3s;
        height: 100px;
        width: 800px;
        place-items: center;
        background: transparent;
        color: var(--ge-hero-text-color);
        display: var(--ge-headline-hero-super-display);
    }
    .hero-text .headline-hero-super::after {
        content: var(--ge-headline-hero-super-content);
    }
    .hero-text.sideMenuNeedsSpace {
        left: calc(50vw - 400px + 110px);
    }

    .progress-circle-container {
        position: fixed;
        bottom: 20px;
        right: 20px;
        z-index: 9999;
        display: flex;
        align-items: center;
        justify-content: center;
        background: transparent;
        opacity: 0.5;
    }

    .progress-circle {
        width: 80px;
        height: 80px;
    }

    .progress-circle-bar {
        fill: none;
        stroke: black;
        stroke-width: 5;
        stroke-dasharray: 283;
        stroke-dashoffset: 283;
        transform-origin: center;
        transition: stroke-dashoffset 0.3s ease;
    }


    .progress-background {
        fill: transparent;
        stroke: #ededed;
        stroke-width: 5;
        stroke-dasharray: none;
    }
</style>