---
import DemoLayout from '../../../layouts/DemoLayout.astro';
import DemoSimpleInfo from "../../../components/showcase/simple/demo-simple-info.md";
---

<DemoLayout name="simple" title="Array of arrays">
  <div class="p-6">
    <DemoSimpleInfo/>
  </div>
</DemoLayout>