---

import ContentSection from "./content-section.astro";

---

<ContentSection
    title="Imprint"
    id="imprint"
    noLead="true">


  <div class="max-w-8xl space-y-2 pl-4 pr-4">
    <div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3">

      <div>
        <h2 class="mb-8 font-bold">Contact</h2>
        <p class="mb-4">
          GUI Expert GmbH<br />
          Leopoldsweg 22<br />61348 Bad Homburg
        </p>
        <p class="mb-4">
          Is represented by:<br />
          Dr. Marc Kronberg<br />
        </p>
        <p class="mb-4">
          Phone: +49 151 2012 9999<br />
          Email: <a href="mailto:info@gui.expert">info@gui.expert</a><br />
        </p>
        <p class="mb-4">
          Tax ID (Steuer-ID): 003 234 96032<br />
          VAT ID (USt-IdNr.): DE227184907<br />
        </p>
        <p class="mb-4">
          Commercial Register (Handelsregister):<br />
          Amtsgericht Bad Homburg v. d. Höhe<br />
          HRB16282<br />
        </p>
      </div>


      <div>
        <h2 class="mb-8 font-bold">Notice according to the Online Dispute Resolution Regulation</h2>
        <p>
          Notice according to the Online Dispute Resolution Regulation
          Under applicable law, we are obligated to inform consumers about the existence of the European Online Dispute
          Resolution platform, which can be used to resolve disputes without resorting to a court of law. The European
          Commission is responsible for establishing the platform. The European Online Dispute Resolution platform can be
          found here:
          <a href="http://ec.europa.eu/odr" rel="nofollow" target="_blank">http://ec.europa.eu/odr</a>.

          Our email address is:
          <a href="mailto:info@gui.expert">info@gui.expert</a>
        </p>


        <p>
          However, please note that we are not willing to participate in the dispute resolution process
          offered by the European Online Dispute Resolution platform.
          To contact us, please use the above email and phone number.
        </p>
      </div>


      <div>
        <h2 class="mb-8 font-bold">Disclaimer – Legal Notices</h2>

        § 1 Disclaimer of Liability for Content<br />
        The free and freely accessible content of this website has been created with the utmost care. However, the provider of
        this website does not guarantee the accuracy and timeliness of the provided free and freely accessible journalistic
        guides and news articles. Contributions identified by name reflect the opinion of the respective author and not always
        the opinion of the provider. The mere access to the free and freely accessible content does not create any contractual
        relationship between the user and the provider; in this respect, the intention to create legal relations on the part
        of the provider is lacking.<br />
        <br />

        § 2 External Links<br />
        This website contains links to third-party websites ("external links"). These websites are the responsibility of the
        respective operators. When the external links were first created, the provider checked the external content for any
        legal violations. At that time, no legal violations were apparent. The provider has no influence on the current and
        future design and content of the linked pages. The inclusion of external links does not imply that the provider adopts
        the content behind the reference or link as its own. Continuous monitoring of external links is not reasonable for the
        provider without concrete evidence of legal violations. However, if legal violations become known, such external links
        will be deleted immediately.<br />
        <br />

        § 3 Copyright and Intellectual Property Rights<br />
        The content published on this website is subject to German copyright and intellectual property rights. Any use not
        permitted by German copyright and intellectual property law requires the prior written consent of the provider or
        respective rights holder. This applies in particular to reproduction, editing, translation, storage, processing, or
        playback of content in databases or other electronic media and systems. Third-party content and rights are identified
        as such. Unauthorized reproduction or distribution of individual content or complete pages is not permitted and is
        punishable by law. Only the production of copies and downloads for personal, private, and non-commercial use is
        allowed.<br />
        <br />
        The presentation of this website in external frames is only permitted with written permission.<br />
        <br />

        § 4 Special Terms of Use<br />
        If special conditions for individual uses of this website deviate from the aforementioned paragraphs, express
        reference will be made to this at the appropriate place. In such cases, the special terms of use apply in the
        respective individual case.
      </div>

      <!--p class="text-right text-sm">
        <a class="text-primary" href="https://astro.build/showcase/">
          ...and more &rarr;
        </a>
      </p-->
    </div>
  </div>
</ContentSection>
