---
import ContentSection from "~/components/content-section.astro";

---

<ContentSection title="Posts" id="posts">
  <!--Fragment slot="lead">
    "GUI Expert Table" is <span class="text-primary">versatile</span>.{" "}
    <span class="text-primary">Explore</span> what's possible and get{" "}
    <span class="text-primary">inspired</span>.
  </Fragment-->
  <div class="max-w-6xl space-y-2">
    <p class="text-right text-sm">
      <a class="text-primary" href="/post/enhancing-data-table-ui/">
        Enhancing Data Table UI &rarr;
      </a>
    </p>
    <p class="text-right text-sm">
      <a class="text-primary" href="/copy-excel-paste-markdown/">
        &nbsp;
      </a>
    </p>
  </div>
</ContentSection>
