---
import ContentSection from "~/components/content-section.astro";

---

<ContentSection title="Posts" id="posts">
  <div class="max-w-6xl space-y-2">
    <p class="text-right text-sm">
      <a class="text-primary" href="/post/web-app-development-for-2024/">
        Web-App Development for 2024 &rarr;
      </a>
    </p>
    <p class="text-right text-sm">
      <a class="text-primary" href="/post/enhancing-data-table-ui/">
        Enhancing Data Table UI &rarr;
      </a>
    </p>
    <p class="text-right text-sm">
      <a class="text-primary" href="/post/top-framework-agnostic-data-table-libraries-in-2024/">
        Top Framework&nbsp;Agnostic Data&nbsp;Tables in 2024 &rarr;
      </a>
    </p>
    <p class="text-right text-sm">
      <a class="text-primary" href="/copy-excel-paste-markdown/">
        &nbsp;
      </a>
    </p>
  </div>
</ContentSection>
