---
import DemoLayout from '../../../layouts/DemoLayout.astro';
import Info from "../../../components/schowcase/treetable/info.md";
---

<DemoLayout name="treetable" title="Tree table">
  <div class="p-6">
    <Info/>
  </div>
</DemoLayout>