---
import DemoLayout from '../../../layouts/DemoLayout.astro';
import Info from "../../../components/schowcase/crypto/info.md";
---

<DemoLayout name="crypto" title="Crypto demo (object array)">
  <div class="p-6">
    <Info/>
  </div>
</DemoLayout>