---
import DemoLayout from '../../../layouts/DemoLayout.astro';
import Info from "../../../components/showcase/arrayofarrays/info.md";

---

<DemoLayout name="arrayofarrays" title="Array of arrays">
  <div class="p-6">
    <Info/>
  </div>
</DemoLayout>