---
import DemoLayout from '../../../layouts/DemoLayout.astro';
import Info from "../../../components/demos/arrayofarrays/info.md";

const pathes = Astro.url.pathname.split('/');
const name = pathes[pathes.length-2];
---

<DemoLayout name={name} title="Array of arrays">
  <div class="px-8">
    <Info/>
  </div>
</DemoLayout>