---

const id = 'div' + Math.random().toString(36).slice(2, 11);
---

<div
    style="height: calc(100vh - 128px)"
    class:list={[ id, 'treetable-demo' ]}></div>

<script
    is:inline
    define:vars={{id}}
    type="module">

  import { TableScope, EventAdapter, SimpleDomService, TableOptions } from '/scripts/table/index.js'
  import {generateTreeCheckboxModel} from "/scripts/demo-table-models/index.js";

  const tableModel = generateTreeCheckboxModel();
  const tableOptions = {
    ...new TableOptions(),
    hoverColumnVisible: false,
    defaultRowHeights: {
      header: 50,
      body: 34,
      footer: 0
    },
    showCheckboxWihoutExtraColumn: true // <-- true: we will see the checkbox IN the first column after the arrow
  };
  const ele = document.querySelector('.' + id);

  const tableScope = new TableScope(
    ele,
    tableModel,
    new SimpleDomService(),
    tableOptions,
    new EventAdapter()
  );
  tableScope.firstInit();


</script>

<style is:global>
    .treetable-demo {
        font-size: 14px;
    }

    .treetable-demo .ge-table-row-even .ge-table-col-div {
        background-color: rgba(250, 250, 250, 0.3);
    }

    .treetable-demo .table-div .ge-table-row-odd .ge-table-col-div {
        background-color: rgba(255, 255, 255, 0.3);
    }

</style>