

<div class="post-div mx-auto max-w-3xl  space-y-3 pl-4 pr-4">
  <slot />
</div>

<style is:global>


  .post-div  {
      margin-top: 100px;
      padding-bottom: 100px;
  }
  .post-div > ul:first-of-type  {
      list-style: none;
      padding: 0;
      display: flex;
      align-items: flex-end;
  }

  .post-div > ul:first-of-type li {
      margin-right: 20px;
  }
  .post-div > ul:first-of-type img:first-of-type {
      width: 100px;
      height: 100px;
      border-radius: 50%;
  }



  .post-div > ol > li,
  .post-div li > ol > li,
  .post-div li > ul > li {
      list-style: square;
      margin-left: 20px;
  }

  .post-div  h1 {
      font-size: 2.4em;
  }
  .post-div  h1 + p  {
      font-size: 1.8em;
      transform: scaleX(0.9);
      transform-origin: 0;
  }

  .post-div  h2 {
      font-size: 1.6em;
      margin-top:  calc(2rem * calc(1 - var(--tw-space-y-reverse))) !important;
  }
  .post-div  h3 {
      font-size: 1.3em;
  }
  .post-div  h3 {
      font-size: 1.1em;
  }
  .post-div  h1, .post-div  h2, .post-div  h3, .post-div  h4 {
      font-weight: bold !important;
  }

  .post-div h1:is(p + *),
  .post-div h1:is(div + *),
  .post-div h2:is(p + *),
  .post-div h2:is(div + *),
  .post-div h3:is(p + *),
  .post-div h3:is(div + *),
  .post-div h4:is(p + *),
  .post-div h4:is(div + *)
  {
      margin-top: 3rem !important;
  }
  .post-div {
      font-family: source-serif-pro, Georgia, Cambria, "Times New Roman", Times, serif;
  }
  .post-div  a {
      text-decoration: underline;
  }

  .post-div table thead tr,
  .post-div table tbody tr:last-child,
  .post-div table tbody tr:has(td:first-child:empty)  {
      border-bottom: solid 1px currentColor;
  }
  .post-div table th {
      text-align: left;
  }
  .post-div table td, .post-div table th {
      padding-right: 2em;
  }
  .post-div a {
      //text-decoration: none;
  }

</style>