---
import DemoHeader  from '../components/demos/demo-header.astro';
import IndexLayout from "./IndexLayout.astro";
import Header from "../components/header.astro";
const { title = 'Demos', name } = Astro.props;
---

<IndexLayout title={title}>
  <Header splashMode={false} />

  <DemoHeader name={name} title={title}/>

  <div class="p-6">
    <slot />
  </div>

</IndexLayout>