---
const { frontmatter } = Astro.props;
---

<div class="">
  <h3>{frontmatter.title}</h3>
  <slot />
</div>

<style is:global>

  * {
      font-size: 15px;
  }
  h1 {
      font-size: 1.4em;
      margin-top: 1em;
      margin-bottom: 0.8em;
  }
  h2 {
      font-size: 1.2em;
      margin-top: .8em;
      margin-bottom: .5em;
  }
  h3 {
      font-size: 1.1em;
      margin-top: .5em;
      margin-bottom: .5em;
  }
  h1, h2, h3 {
      font-weight: bold !important;
  }
  p {
      margin-top: 1em;
      margin-bottom: 1.5em;
  }
</style>