---
import DemoLayout from '../../../layouts/DemoLayout.astro';
import DemoSimpleInfo from "../../../components/demos/simple/demo-simple-info.md";
---

<DemoLayout name="order" title="Array of objects">
  <div class="p-6">
    <DemoSimpleInfo/>
  </div>
</DemoLayout>