---
import DemoLayout from '../../../layouts/DemoLayout.astro';
import Info from "../../../components/showcase/order/info.md";
---

<DemoLayout name="order" title="Array of objects">
  <div class="p-6">
    <Info/>
  </div>
</DemoLayout>